<nav>
  <div class="container">
    <div class="nav">
        <a href="{% url 'home' %}">
            <div class="logo">
                Mint<span>Jobs</span>
            </div>
        </a>
        <div>
            <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'jobs' %}">Jobs</a>
        <a class="btn btn-primary" id="white" href="{% url 'job-post' %}">Post a Job</a>
    
        {%  if request.user.is_authenticated %}
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a class="btn btn-secondary" href="{% url 'logout' %}">Logout</a>
    
        {%  else %}
            <a class="btn btn-primary" id="white" href="{% url 'login' %}">Login</a>
            <a class="btn btn-secondary" href="{% url 'register' %}">Register</a>
        {%  endif %}
        </div>
    </div>
  </div>

</nav>